*~
*.DS_Store
*.lock
!Pipfile.lock
*.swp
*.out
*.pid
*.pyc
*.sql
*.sqlite
*.db
*.swp
.cache*
*~
__pycache__/
/tmp/
.bundle/
.sass-cache/
bower_components/
bundle/
dist/
tests/
node_modules/
.env
npm-debug.log
newrelic.ini

playlistdc/static/
