Django>=2.0,<2.1
waitress>=1.1.0,<1.2
whitenoise>=2.0,<2.1

dj-database-url==0.4.2
django-debug-toolbar>=1.9,<2.0
django-model-utils>=3.0,<3.1

python-decouple>=3.1,<3.2
pytz==2015.7

psycopg2>=2.7,<2.8

redis>=2.10,<2.11
django-redis>=4.8,<4.9

rq>=0.5,<0.6
django-rq>=0.9,<0.10
django-rq-wrapper>=1.0,<2.0

spotipy>=2.4,<2.5
beautifulsoup4==4.4.0
